body{
    background-color: #a22c27;
    color: #9f8241;
    font-family:Georgia;
    text-align: center;
    font-size: 2rem;
}
#container{
    background-color: #4f2621;
}


#relogio{
    font-size: 7rem;
    font-weight: bold;
    margin-top: 10px;
}
