body{
    background-color: #333d47;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#container{
    background-color: rgba(88, 102, 145, 0.6);
}


#relogio{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 14px;
}
